<style type="text/css">
table.table_std2{
	
	border-collapse:collapse;
	border: 1px solid #7F9DB9;
	text-align:left;
}
.table_std2 th,.table_std2 td{
	border: 1px solid #7F9DB9;
	padding:5px;
	vertical-align: top;
}
.h4_std{
	margin-bottom:15px;
}
.rule_declare{
	width:200px;
	border: 1px solid #FB6BA0;
	background-color: #FDC6E6;
	padding: 10px;
	margin-left:10px;
}
#url,#comment{
	width:300px;
	height:100px;
}
#case_div{
	padding-left:10px;
	padding-bottom:20px;
}
.hide_std{
	display:none;
}
</style>
<div class="common_margin_std" style="text-align:left;">
	<form method="post" action="{% url caseset_edit caseset.id %}"  onsubmit="return validateCallback2(this)">{% csrf_token %}
		<table class="form_table font_style_std3">
			<tr>
				<td width="13%"><h4>编辑测试集</h4></td>
				<td class="ralign_std"><button type="submit" id="submit_btn">保存</button><button onclick ="return httpRedirectAjax('{% url caseset_index %}')">取消</button></td>
			</tr>
			<tr>
				<td><label>所属产品:</label></td>
				<td>
					<select name="product" product_id="{{ caseset.product.id }}">
						{% for product in product_list %}
    						<option value="{{product.id}}">{{ product.product_name }}</option>
						{% endfor %}
					</select>
				</td>				
			</tr>
			<tr>
				<td><label>测试集名称:</label></td>
				<td><input type="text" size="30"  name="name" value="{{ caseset.name }}" class="required" /><span style="color:#f00">*</span></td>				
			</tr>
			<tr>
				<td style="vertical-align:top;"><label>备注:</label></td>
				<td style="vertical-align:top;"><textarea name="comment" cols="28" rows="5">{{ caseset.comment }}</textarea></td>		
			</tr>
		</table>
		<h4 class="font_style_std3 h4_std">应用于以下服务集群:</h4>
		<div>
			{% for item in group_list %}
				<input type="checkbox" value="{{item.id}}" name="service_group" {% if item.id in group_id_list %}checked{% endif %} />{{item.name}}
			{% endfor %}
		</div>
	</form>
	
	<h4 class="font_style_std3 h4_std">已包含的测试用例:</h4>
	<table class="table_std2 font_style_std3" id="exist_item">
		<tr>
			<th width="300px">URL</th>
			<th>备注</th>
			<th>判断规则</th>
			<th width="200px">附加参数</th>
			<th>操作</th>
		</tr>
		{% for item in case_list %}
			<tr class="active_data" id="{{ item.id }}" json_data="{{ item.json_data }}">
				<td>{{ item.url }}</td>
				<td>{{ item.comment }}</td>
				<td>{{ item.rule.simple_desc }}</td>
				<td>{{ item.params }}</td>
				<td>
					<input type="button" value="编辑" onclick="edit_case(this);" class="edit_btn"/>
					<input type="button" value="删除" onclick="delete_item(this)" class="del_btn">
				</td>
			</tr>
		{% endfor %}
	</table>
	<input type="button" value="添加" id="add_case"/>
	<!-- 多提供一次保存按钮，避免用户遗漏 -->
	<table class="form_table font_style_std3">
		<tr>
			<td></td>
			<td class="ralign_std"><button type="button" id="submit_btn2">保存</button><button onclick ="return httpRedirectAjax('{% url caseset_index %}')">取消</button></td>
		</tr>
	</table>
	<div style="display:none" id="case_div">
		<form>
		<table class="form_table font_style_std3">
			<tr>
				<td width="18%"><h4>添加测试用例</h4></td>
				<td class="ralign_std"><button id="case_div_save">保存</button><button id="case_div_cancel">取消</button></td>
			</tr>
			<tr>
				<td style="vertical-align:top;"><label>URL:</label></td>
				<td style="vertical-align:top;">
					<textarea id="url" class="required httpurl"/>
				</td>				
			</tr>
			<tr>
				<td style="vertical-align:top;"><label>备注:</label></td>
				<td style="vertical-align:top;"><textarea id="comment" /></td>		
			</tr>
			<tr>
				<td><label>判断规则:</label></td>
				<td>
					<select id="rule_id">
						{% for rule in rule_list %}
							<option value="{{ rule.id }}" title="{{ rule.comment }}">{{ rule.simple_desc }}</option>
						{% endfor %}
					</select>
				</td>				
			</tr>
			<tr>
				<td style="vertical-align:top;"><label>附加参数:</label></td>
				<td id="extra_params">
				   <div class="eparams" rid='1'>
				   		不需要额外参数
				   </div>
				   <div class="eparams hide_std" rid='2'>
				   		<label>忽略标签:</label>
				   		<input name="filter_tag" size="30"/>
				   		<br/>
				   		如果需要忽略多个标签，请用英文逗号分隔，形如:searchtime,count
				   </div>
			   		<div class="eparams hide_std" rid='3'>
			   			<table>
			   				<tr><td style="vertical-align:top;"><label>期望返回:</label></td><td><textarea name="expect_gjyq" style="width:300px;height:100px;"/></td></tr>
			   			</table>
				   		如从石门地铁出发到北京科技大学<br/>
				   		期望路径形如: 地铁15号线(石门-望京西)->地铁13号线(望京西-芍药居)->地铁10号线(芍药居-西土城)->490路(学知桥北-成府路口南)
				   		<br/>
				   		括号，减号请使用英文符号
				   </div>
				   <div class="eparams hide_std" rid='4'>
			   			<table>
			   				<tr><td><label>包含序列的元素标签:</label></td><td><input name="sequence_tag" size="30"/></td></tr>
			   				<tr><td><label>序列中每个item的标签:</label></td><td><input name="item_tag" size="30"/></td></tr>
			   				<tr><td><label>item中元素的标签:</label></td><td><input name="ele_tag" size="30"/></td></tr>
			   				<tr><td colspan="2">如果有多个，请用逗号分隔</td></tr>
			   				<tr><td style="vertical-align:top;"><label>期望的返回序列</label></td>
			   				<td>
				   				<textarea name="expect_seq" style="width:300px;height:100px;"/>
			   				</td>
			   				</tr>
			   			</table>

				   </div>
				</td>				
			</tr>
		</table>
		</form>
	</div>
</div>
<script language="JavaScript" type="text/javascript">

//----------- start ---------------
$(document).ready(function(){
	 //设置产品
	 $("select[name='product']").val($("select[name='product']").attr('product_id'));
	 // 校验
	 $("form").validate();
	 //点击添加按钮将弹出浮动层，让用户填写测试用例
	 $("#add_case").click(function(){
	 	//清除表单校验信息
	    $("label.error").remove();
		$.blockUI({ 
			message: $("#case_div"),
			css: {
		            left: ($(window).width() - 600) /2 + 'px',
		            top:'10%',
		            width: '600px',
		            cursor:'default',
				} 
		});
	 });
	 
	//点击添加测试用例中的取消按钮
	$('#case_div_cancel').click(function(){
		// 对于正在编辑的记录，把相应的标记去掉
		$("tr.curr").removeClass('curr');
		//相应字段清空
		$("#case_div input,#case_div textarea").val("");
		$.unblockUI();	 	
	});
	//点击添加测试用例中的保存按钮
	$('#case_div_save').click(function(){
		add_case();
	});
	 // 某些判断规则可能需要输入参数
	 $("#rule_id").change(function(){
	 	rule_id = $("#rule_id").val();
	 	$(".eparams").hide();
		div_list = $(".eparams");
		for(var i=0;i<div_list.length;i++){
			if($(div_list[i]).attr('rid')==rule_id){
				$(div_list[i]).show();
			}
		}	
	 });
	 // 第二个提交按钮点击将触发第一个提交按钮
	$('#submit_btn2').click(function(){
		$("#submit_btn").click();
	});
});
</script>