<div class="page">
	<div class="pageContent">
		<div class="panelBar">
		</div>
		<table width="100%">
			<thead>
				<tr>
					<th width="3%">				
						<input type="checkbox" name="checkbox_group" class="checkboxCtrl" onclick ="checkboxgroup(this)">				
					</th>
					<th width="4%">序号</th>
					<th width="6%">测试集ID</th>
					<th width="10%">产品</th>
					<th width="15%">创建时间</th>
					<th>任务说明</th>
					<th width="10%">状态</th>
					<th width="5%">操作</th>
				</tr>
			</thead>
			<tbody>
				{% for item in item_list %}
					<tr target="sid_group" rel="{{ item.id }}">
						<td>				
							<input type="checkbox" name="checkbox" value="{{ item.id }}">	
						</td>
						<td>{{ item.id }}</td>
						<td>{{ item.set_id }}</td>
						<td>{{ item.product }}</td>
						<td>{{ item.create_time }}</td>
						<td>{{ item.comment }}</td>
						<td>{{ item.status }}</td>
						<td>
							{% if item.execute_time %}
								<a href="{% url checkresult_taskdetail item.id %}"  onclick="return executeMenu(this);"><span>查看</span></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<div class="panelBar">
			<div class="pages">
				<span>
					共{{ item_list.paginator.count }}条
				</span>
			</div>
			
			<div class="pagination">
				<span class="first" onclick="pageJump(this, {{ item_list.number }}, {{item_list.paginator.num_pages}})">
						首页
				</span>

				<span class="previous" onclick="pageJump(this, {{ item_list.number }}, {{item_list.paginator.num_pages}})">
						上一页
				</span>

				<span>
					{{ item_list.number }}
				</span>

				<span class="next" onclick="pageJump(this, {{ item_list.number }}, {{item_list.paginator.num_pages}})">
						下一页
				</span>

				<span class="last" onclick="pageJump(this, {{ item_list.number }}, {{item_list.paginator.num_pages}})">
						末页
				</span>

				<input class="textInput" type="text" value="" size="4" style="height:12px"/>
				<button class="button" onclick="return pageJump(this)"><a href="{% url checkresult_index %}">确定</a></button>
			</div>
		</div>
	</div>	
</div>
